################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Mathieu/GoodBurger/.vs
/Antoine/GoodBurger/.vs/GoodBurger/v15/Server/sqlite3
/Antoine/GoodBurger/GoodBurger/bin/Debug/netcoreapp2.0
/Antoine/GoodBurger/GoodBurger/obj/Debug/netcoreapp2.0
/Antoine/GoodBurger/GoodBurgerDB.ldf
/Antoine/GoodBurger/GoodBurgerDB.mdf
