div {
    overflow: hidden;
}

.noborder {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
    z-index: 100;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .custom_content{
        padding-left:30px;
        margin:auto;
    }

    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }

    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
        padding-top: 60px;
    }
}

body {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding-top:0px;
}

.tile{
    background-color:white;
    margin:20px !important;
    color:black;
}

.tileheight{
    height:200px;
    max-height:200px;
    min-height:200px;
}

.tilewidth{
    width:200px;
    max-width:200px;
    min-width:200px;
}

.set-right{
    right:0px;
}

.col-md-6{
    margin:0px;
    padding:0px;
}

.col-md-5 {
    margin: 0px;
    padding: 0px;
}

.display_block{
    display:inline-block;
}

.featured_banner {
    background-image: url('../../wwwroot/img/fresh_banner_slate.png');
    color: white;
    font-size: 64px;
    font-stretch: extra-expanded;
    filter:saturate(1.8);
}

.description_text{
    font-size:15px;
    padding:unset;
}

.featured_title {
    
    filter:unset;
    margin-top: 60px;
    text-decoration-line: overline underline;
}

.tilettl:hover {
    cursor: pointer;
    font-size: 70px;
    filter:saturate(3);
    background-color:lightcoral;
    color:white;
}

.minitile{
    font-size:64px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titlemargin{
    padding-bottom:50px !important;
}

.smallfont{
    font-size:52px;
}

.paddingleft{
    padding-left:20px;
}

.redclass{
    color:red;
}

.greenclass{
    color:green;
}

.small_input{
    width:45px;
    max-width:45px;
    border-radius:4px !important;
    margin-right:5px;
    right:auto;
}

.error_tile{
    color:red;
}

.red{
    color:red;
}

.green{
    color:green;
}

.coralbutton{
    background-color:lightcoral;
    border-color:lightcoral;
}

.coralbuttonsecond{
    color:lightcoral;
}

.coralbutton:hover {
    background-color: #a85959;
}

.coralbuttonsecond:hover {
    color: #a85959;
}
